<ul class="contacts-list">
    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="mail-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Email</p>
        <a href="mailto:abdulmalikakhzamov1@gmail.com" class="contact-link">abdulmalikakhzamov1@gmail.com</a>
      </div>
    </li>
    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="phone-portrait-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Phone</p>
        <a href="tel:+998331131333" class="contact-link">+998(33)113-13-33</a>
      </div>
    </li>
    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="calendar-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Birth</p>
        <time datetime="1982-06-23">July 24, 1999</time>
      </div>
    </li>
    <li class="contact-item">
      <div class="icon-box">
        <ion-icon name="location-outline"></ion-icon>
      </div>
      <div class="contact-info">
        <p class="contact-title">Адрес</p>
        <address>Uzbekistan, Tashkent, Yunusabad district, quarter 12, building 13, apartment 22</address>
      </div>
    </li>
  </ul>