{% load static %}

<div class="sidebar-info">
    <figure class="avatar-box">
      <img src="{% static 'assets/images/my-avatar.jpg' %}" alt="AbdulMalik Akhzamov" width="80">
    </figure>
    <div class="info-content">
      <h1 class="name" title="Richard hanrick">AbdulMalik Akhzamov</h1>
      <p class="title">Web Developer</p>
    </div>
    <button class="info_more-btn" data-sidebar-btn>
      <span>Show Contacts</span>
      <ion-icon name="chevron-down"></ion-icon>
    </button>
  </div>