<ul class="social-list">
    <li class="social-item">
        <a href="https://www.linkedin.com/in/abdulmalik-akhzamov-890b01242/" class="social-link" target="_blank">
        <i class="fab fa-linkedin"></i>
        </a>
    </li>
    <li class="social-item">
        <a href="https://t.me/abdulmalik_akhzamov" class="social-link" target="_blank">
        <i class="fab fa-telegram"></i>
        </a>
    </li>
    <li class="social-item">
        <a href="https://www.instagram.com/abdulmalik_akhzamov/" class="social-link" target="_blank">
        <i class="fab fa-instagram"></i>
        </a>
    </li>
</ul>